body{
  font-family: Arial, sans-serif;
  height: 100vh;
  margin: 0;
}

.App{
  display: flex;
  justify-content: space-between;
  min-height: 100vh;
}

/* Home */

.homeMainBar{
  margin: 0.5rem;
}

/* Course Card */

.course-list{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 10px;
  margin: 10px;
}

.course-card{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border: 1px solid #ccc;
  padding: 10px;
  box-sizing: border-box;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.course-card.completed{
  background-color: #e0ffe0;
}

.course-card input[type="range"]{
  width: 100%;
}

.course-card img{
  width: 100%;
  height: 95px;
  object-fit: cover;
  border-radius: 8px 8px 0 0;
}

h1{
  margin: 10px;
}

.course-card h2{
  font-size: 1.2em;
  margin: 10px 0;
}

.course-card p{
  margin: 12px 0;
}

.btn{
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
  cursor: default;
}

.course-card button{
  border: none;
  background: rgb(224, 221, 221);
  height: 2rem;
  cursor: pointer;
}

/* Sidebar */

.leftSideBbar{
  background-color: orange;
}

.sidebar{
  width: 124px;
  height: auto;
  top: 0;
  left: 0;
  position: sticky;
  margin: 1rem 0rem;
  padding: 2rem;
  font-size: 1.2rem;
}

.sidebar div{
  display: flex;
  align-items: center;
  margin: 1rem;
  color: white;
}

.sidebar a{
  text-decoration: none;
  color: white;
}

.active{
  padding: 4px;
  background: rgb(246, 186, 75);
  border-radius: 4px;
}

/* Search */

.searchBar{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 2rem;
  font-size: 1.1rem;
  padding: 4px;
  border-radius: 4px;
  background: rgb(224, 221, 221);
  margin: 2rem 0.5rem 0 0;
  width: 200px;
  position: sticky;
  top: 10px;
  left: 0;
}


.searchBar input{
  border: none;
  background: rgb(224, 221, 221);
  height: 1.2rem;
  outline: none;
}

/* Details */

body.active-details{
  overflow: auto;
}

.popup,
.overlay{
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: fixed;
}

.overlay{
  background: rgba(49, 49, 49, 0.8);
}

.popup-content{
  position: relative;
  background-color: white;
  width: 100%;
  max-width: 800px;
  padding: 0 2rem;
  border: 5px;
  max-height: 90vh;
  overflow: auto;
  padding: 1rem;
}

.btn-syll{
  border: none;
  background: rgb(224, 221, 221);
  height: 2rem;
  cursor: pointer;
}

.close-details{
  position: absolute;
  top: 10px;
  right: 10px;
  padding: 5px 7px;
  border: none;
  font-size: 1.2rem;
  cursor: pointer;
}

/* Navbar */

.navbar{
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: orange;
  padding: 1rem 0.3rem;
  gap: 4px;
  position: sticky;
  top: 0;
}

.navbar a,
.navbar{
  color: white;
  text-decoration: none;
}

.p1{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
}

.p1-user{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4px;
}

@media (max-width: 500px){

  .leftSideBbar,
  .SearchSideBar{
    display: none;
  }

  .homeMainBar{
    margin: 0;
  }

  .course-list{
    grid-template-columns: 1fr;
  }

  .searchBar{
    height: 1.5rem;
    font-size: 1rem;
    padding: 4px;
    margin: 0;
  }

}

@media (min-width: 501px) and (max-width: 767px){

  .leftSideBbar,
  .SearchSideBar{
    display: none;
  }

  .homeMainBar{
    margin: 0;
  }

  .course-list{
    grid-template-columns: 1fr 1fr;
  }

  .searchBar{
    height: 1.5rem;
    font-size: 1rem;
    padding: 4px;
    margin: 0;
  }

}

@media (min-width: 768px) and (max-width: 1050px){

  .leftSideBbar,
  .SearchSideBar{
    display: none;
  }

  .homeMainBar{
    margin: 0;
  }

  .searchBar{
    height: 1.5rem;
    font-size: 1rem;
    padding: 4px;
    margin: 0;
  }

  .p1{
    gap: 1.5rem;
  }

}

@media (min-width: 1051px){

  .navbar{
    display: none;
  }
  
  .course-card img{
    height: 164px;
  }

}